.title {
	width: 78%;
}
.title img:first-child {
	width: 100%;
}
.title img:last-child {
	width: 80%;	
}
.title, .original_thesis {
	display: inline-block;
}
.original_thesis {
	float: right;
	width: 20%;
	margin-top: 5%;
}
.original_thesis img {
	width: 100%;
}
.container-fluid {
	margin-top: 5%;
}
.container-fluid .row {
	width: 50%;
}

/*SUB-TITLES*/
.sub-title {
	width: 100%;
}
.sub-title img {
	width: 30%;
}

/*ICONS*/
.law-icon, .duty-icon {
	width: 30%;
}

/*CONTENT*/
.law-text, .duty-text {
	width: 60%;
}
.duty-text {
	margin-top: 2%;
}
.law-content {
	width: 100%;
}