@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
	display: block;
}

html {
	zoom: 25%;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

a {
	color: inherit;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
	outline: 0;
}

input {
	border-width: 0;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

sub {
	vertical-align: text-bottom;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

img,
embed,
object,
video {
	max-width: 100%;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* ie 6/7 */
}

.no-space-between-inline-blocks {
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko */
}

/* restore spacing on inner elements */
.no-space-between-inline-blocks > * {
	letter-spacing: normal;
	word-spacing: normal;
}

.displace {
	position: absolute;
	left: -5000px;
}

body {
	color: #393939;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-decoration: none;
}
.global_container_ {
	float: none;
	height: 7200px;
	height: auto;
	margin: 0 auto;
	min-height: 7200px;
	position: relative;
	width: 5400px;
	background: rgba(238, 238, 238, 0.77);
}
.layer-15 {
	left: 50%;
	position: absolute;
	top: 503px;
	margin-left: -2470px;
}
.problems {
	height: 1026px;
	left: 50%;
	position: absolute;
	top: 2574px;
	width: 5196px;
	margin-left: -2552px;
}
.layer-9 {
	left: 50%;
	position: absolute;
	top: 521px;
	margin-left: -1823px;
}
.group4 {
	height: 898px;
	left: 50%;
	position: absolute;
	top: 128px;
	width: 1323px;
	margin-left: 1124px;
}
.land {
	left: 50%;
	position: absolute;
	top: 229px;
	margin-left: -341.5px;
}
.mountain {
	left: 50%;
	position: absolute;
	top: 36px;
	margin-left: -352.5px;
}
.rock-color {
	left: 50%;
	position: absolute;
	top: 1px;
	margin-left: -574.5px;
}
.rocks-holder {
	left: 50%;
	padding: 128px 0 216px;
	position: absolute;
	top: 0;
	width: 1323px;
	background: url(images/rocks.png) no-repeat;
	margin-left: -661.5px;
}
.col {
	left: 49.5px;
	margin: 0 auto;
	min-height: 484px;
	padding: 36px 4px 26px;
	position: relative;
	width: 600px;
	background: url(images/white.png) no-repeat;
}
.text {
	margin: 0 101px 0 117px;
	color: #383838;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-style: italic;
	font-weight: 600;
	line-height: 0.800032em; /* 66.67px / 83.33px = 0.800072em */
	text-align: center;
}
.text-2 {
	margin: 62px 99px 0 116px;
	color: #383838;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-style: italic;
	font-weight: 600;
	line-height: 0.800032em; /* 66.67px / 83.33px = 0.800072em */
	text-align: center;
}
.text-3 {
	margin: 38px 12px 0;
	color: #383838;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-style: italic;
	font-weight: 600;
	text-align: right;
}
.group3 {
	height: 790px;
	left: 50%;
	position: absolute;
	top: 236px;
	width: 851px;
	background: url(images/forest_color.png) no-repeat 0 33px;
	margin-left: 282px;
}
.forest {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -418.5px;
}
.col-2 {
	left: 50%;
	min-height: 316px;
	padding: 6px 15px 36px;
	position: absolute;
	top: 164px;
	width: 756px;
	background: url(images/white_2.png) no-repeat;
	margin-left: -419.5px;
}
.taboos {
	color: #383838;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-style: italic;
	font-weight: 600;
	text-align: center;
}
.misunderstanding {
	margin: 24px 0 0;
color: #383838;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-style: italic;
	font-weight: 600;
	text-align: center;
}
.preconceptions {
	margin: 10px 0 0;
	color: #383838;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-style: italic;
	font-weight: 600;
	text-align: center;
}
.group2 {
	height: 516px;
	left: 50%;
	position: absolute;
	top: 510px;
	width: 2376px;
	margin-left: -2346px;
}
.group2, .group3, .group4 {
	cursor: pointer;
}
.color-holder {
	height: 516px;
	left: 50%;
	position: absolute;
	top: 0;
	width: 1077px;
	background: url(images/color.png) no-repeat;
	margin-left: 111px;
}
.rocks {
	left: 50%;
	position: absolute;
	top: 122px;
	margin-left: -482.5px;
}
.white-holder {
	left: 50%;
	min-height: 281px;
	padding: 0 13px;
	position: absolute;
	top: 35px;
	width: 333px;
	background: url(images/white_3.png) no-repeat 0 20px;
	margin-left: -199.5px;
}
.text-4 {
	color: #383838;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-style: italic;
	font-weight: 600;
	line-height: 1.600064em; /* 133.33px / 83.33px = 1.600024em */
}
.water {
	left: 50%;
	position: absolute;
	top: 12px;
	margin-left: -1188px;
}
.group1 {
	left: 50%;
	position: absolute;
	top: 51px;
	width: 1325px;
	margin-left: -2598px;
}
.col-3 {
	float: left;
	margin: 0 37px 0 0;
	position: relative;
	width: 817px;
}
.a-disability-is {
	display: block;
}
.text-5 {
	left: 20px;
	margin: 13px auto 0;
	position: relative;
	width: 519px;
	color: #383838;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-weight: 600;
	line-height: 1.600064em; /* 133.33px / 83.33px = 1.600024em */
}
.group-1 {
	float: left;
	height: 651px;
	margin: 172px 0 0;
	position: relative;
	width: 471px;
	background: url(images/color_2.png) no-repeat 17px 0;
}
.wheelcheir {
	left: 50%;
	position: absolute;
	top: 297px;
	margin-left: -131.5px;
}
.person {
	left: 50%;
	position: absolute;
	top: 1px;
	margin-left: -82.5px;
}
.standing {
	left: 50%;
	position: absolute;
	top: 3px;
	margin-left: -235.5px;
}
.layer-8 {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -1430px;
}
.why-is-this-important {
	left: 50%;
	position: absolute;
	top: 1329px;
	width: 4866px;
	margin-left: -2535px;
}
.col-6 {
	float: left;
	margin: 13px 0 0;
	position: relative;
	width: 2429px;
}
.it-s-the-law {
	display: block;
	left: 106.5px;
	margin: 0 auto;
	position: relative;
}
.row-2 {
	margin: 6px 0 0;
	position: relative;
}
.scroll {
	float: left;
	margin: 0 5px 0 0;
}
.text-6 {
	float: left;
	margin: 83px 0 0;
	width: 1773px;
	color: #404040;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-weight: 600;
}
.wrapper-3 {
	float: left;
	height: 1233px;
	position: relative;
	width: 2437px;
}
.handshake {
	left: 50%;
	position: absolute;
	top: 23px;
	margin-left: -1218.5px;
}
.text-7 {
	left: 50%;
	position: absolute;
	top: 311px;
	width: 1790px;
	color: #404040;
	font-size: 5.208334em; /* 83.33px / 16px = 5.208125em */
	font-weight: 600;
	margin-left: -571.5px;
}
.it-s-our-duty {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -606.5px;
}
.title {
	left: 50%;
	position: absolute;
	top: 198px;
	width: 5109px;
	margin-left: -2540px;
}
.wrapper-4 {
	float: left;
	height: 965px;
	margin: 0 176px 0 0;
	position: relative;
	width: 3774px;
}
.layer-16-holder {
	left: 50%;
	padding: 494px 165px 122px;
	position: absolute;
	top: 82px;
	width: 3350px;
	background: url(images/layer_16.png) no-repeat;
	margin-left: -1887px;
}
.in-research-spaces {
	display: block;
	left: 175px;
	margin: 0 auto;
	position: relative;
}
.addressing {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -1753px;
}
.original-thesis-by {
	float: left;
	margin: 136px 0 0;
}
.footer {
	left: 50%;
	position: absolute;
	top: 3852px;
	width: 5291px;
	margin-left: -2700px;
}
.financial-barriers {
	float: left;
	margin: 39px 44px 0 0;
	position: relative;
	width: 1222px;
	opacity: 0.5;
}
.financial-barriers:hover {
	opacity: 1.0;
}
.layer-5 {
	display: block;
	left: 84.5px;
	margin: 0 auto;
	position: relative;
}
.wrapper-9 {
	margin: 169px 0 0;
	padding: 0 0 13px;
	position: relative;
	width: 1173px;
	background: url(images/bank_color.png) no-repeat 221px bottom;
}
.bank {
	display: block;
	margin: 0 auto;
	position: relative;
	right: 23px;
}
.layer-14-holder {
	left: 248px;
	margin: 81px auto 0;
	padding: 12px 14px 7px;
	position: relative;
	width: 484px;
	background: url(images/layer_14.png) no-repeat;
}
.arrow {
	display: block;
	left: 13px;
	margin: 0 auto;
	position: relative;
}
.text-8 {
	left: 93px;
	margin: 41px auto 0;
	position: relative;
	width: 1036px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
}
.wrapper-5 {
	float: left;
	height: 2995px;
	position: relative;
	width: 4025px;
}
.physical-barriers {
	left: 50%;
	position: absolute;
	top: 0;
	width: 2318px;
	margin-left: -305.5px;
	opacity: 0.5;
}
.physical-barriers:hover {
	opacity: 1.0;
}
.physical-title {
	display: block;
	left: 267px;
	margin: 0 auto;
	position: relative;
}
.row-4 {
	left: 230px;
	margin: 84px auto 0;
	position: relative;
	width: 1858px;
}
.widen-paths {
	float: right;
	margin: 91px 0 0;
}
.text-9 {
	width: 970px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
}
.row-5 {
	margin: 106px 0 0;
	position: relative;
}
.ramp {
	float: left;
	margin: 0 71px 0 0;
}
.text-10 {
	margin: 159px 0 0;
	width: 2318px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
}
.row-6 {
	left: 200.5px;
	margin: 122px auto 0;
	position: relative;
	width: 1899px;
}
.layer-13 {
	float: right;
}
.text-11 {
	margin: 31px 0 0;
	width: 1064px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
}
.row {
	left: 149.5px;
	margin: 210px auto 0;
	position: relative;
	width: 1927px;
}
.plants-in-raised-beds {
	float: left;
	margin: 0 41px 0 0;
}
.text-12 {
	margin: 96px 0 0;
	width: 1927px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
}
.knowledge-barriers {
	left: 50%;
	position: absolute;
	top: 8px;
	width: 1911px;
	margin-left: -2012.5px;
	opacity: 0.5;
}
.knowledge-barriers:hover {
	opacity: 1.0;
}
.knowledge-title {
	display: block;
	left: 43px;
	margin: 0 auto;
	position: relative;
}
.row-3 {
	margin: 78px auto 0;
	position: relative;
	right: 41px;
	width: 1623px;
}
.layer1-professor {
	float: right;
	margin: 35px 0 0;
}
.text-13 {
	width: 1235px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
}
.wrapper-8 {
	height: 1970px;
	margin: 20px 0 0;
	position: relative;
	width: 1911px;
}
.layer2-knowledge {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -925.5px;
}
.training-color {
	left: 50%;
	position: absolute;
	top: 557px;
	margin-left: 360.5px;
}
.layer4-obsolte {
	left: 50%;
	position: absolute;
	top: 1294px;
	margin-left: -955.5px;
}
.text-14 {
	left: 50%;
	position: absolute;
	top: 667px;
	width: 1273px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
	margin-left: -940.5px;
}
.text-15 {
	left: 50%;
	position: absolute;
	top: 20px;
	width: 1064px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
	margin-left: -138.5px;
}
.text-16 {
	left: 50%;
	position: absolute;
	top: 1384px;
	width: 1093px;
	font-size: 4.6875em; /* 75px / 16px = 4.6875em */
	line-height: 1.333333em; /* 100px / 75px = 1.333333em */
	margin-left: -344.5px;
}
.text-style-2 {
	font-size: 1.200048em; /* 100px / 83.33px = 1.200048em */
	font-weight: bold;
	line-height: 1.2;
}
.text-style-3 {
	line-height: 1.600064em; /* 133.33px / 83.33px = 1.600024em */
}
.text-style {
	font-size: 1.200048em; /* 100px / 83.33px = 1.200048em */
	font-weight: normal;
	line-height: 1.2;
}
.fw700 {
	font-weight: bold;
}
.text-style-4 {
	line-height: 1.50006em; /* 125px / 83.33px = 1.50006em */
}
.text-style-5 {
	font-size: 1.200048em; /* 100px / 83.33px = 1.200048em */
	font-weight: 300;
	line-height: 1.2;
}
